
<div class="container">
    <h1>View Flight Info</h1>
    <a href="#" routerLink="/passenger/p-index" class="btn btn-primary">Back</a>
    <div>
        <strong>Passenger ID:</strong>
        <p>{{ traveller.flightId }}</p>
    </div>
    <div>
        <strong>First Name:</strong>
        <p>{{ traveller.flightNum }}</p>
    </div>
    <div>
        <strong>Last Name:</strong>
        <p>{{ traveller.destination }}</p>
    </div>
    <div>
        <strong>Email:</strong>
        <p>{{ traveller.departureAirport }}</p>
    </div>
</div>