
<div class="container">
    <h1>View Passenger Info</h1>
    <a href="#" routerLink="/passenger/p-index" class="btn btn-primary">Back</a>
    <div>
        <strong>Passenger ID:</strong>
        <p>{{ traveller.passengerID }}</p>
    </div>
    <div>
        <strong>First Name:</strong>
        <p>{{ traveller.firstName }}</p>
    </div>
    <div>
        <strong>Last Name:</strong>
        <p>{{ traveller.lastName }}</p>
    </div>
    <div>
        <strong>Email:</strong>
        <p>{{ traveller.email }}</p>
    </div>
</div>