
<div class="container">
    <h1>View Flight</h1>
  
    <a href="#" routerLink="/flight" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Flight ID:</strong>
        <p>{{ travel.flightID }}</p>
    </div>
    <div>
        <strong>Flight Number:</strong>
        <p>{{ travel.flightNum }}</p>
    </div>
    <div>
        <strong>Flight Destination:</strong>
        <p>{{ travel.destination }}</p>
    </div>
    <div>
        <strong>Departure Airport:</strong>
        <p>{{ travel.departureAirport }}</p>
    </div>
    <div>
        <strong>Departure Time</strong>
        <p>{{ travel.departureTime}}</p>
    </div>
    <div>
        <strong>Departure Date</strong>
        <p>{{ travel.departureDate}}</p>
    </div>
    <div>
        <strong>Arrival Airport:</strong>
        <p>{{ travel.arrivalAirport }}</p>
    </div>
    <div>
        <strong>Arrival Time:</strong>
        <p>{{ travel.arrivalAirport }}</p>
    </div>
    <div>
        <strong>Arrival Date:</strong>
        <p>{{ travel.arrivalAirport }}</p>
    </div>
    <div>
        <strong>Flight Capacity:</strong>
        <p>{{ travel.maxCapacity }}</p>
    </div>
   
</div>