<div class="container">
    <h1>Flight(s)</h1>
    <a href="#" routerLink="/flight/create" class="btn btn-success">Create a new flight</a>
    <div>
    <table class="table-borderded table">
        <thead>
            <tr>
                <th scope="col">Passenger ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of traveller" class="table table-striped-columns">
                <td><span><a href="#">{{t.passengerId}}</a></span></td>
                <td>{{t.firstName}}</td>
                <td>{{t.lastName}}</td>
                <td>{{t.email}}</td>
                <td>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
