<div class="container">
    <h1>Flight(s)</h1>
    <a href="#" routerLink="/flight/fcreate" class="btn btn-success">Create a new flight</a>
    <div>
    <table class="table-borderded table">
        <thead>
            <tr>
                <th scope="col">Flight ID</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Destination</th>
                <th scope="col">Departure Airport</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Arrival Airport</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Max Capacity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of travel" class="table table-striped-columns">
                <td><span><a href="#" [routerLink]="['/flight/fdetails/',t.flightID]" >{{t.flightID}}</a></span></td>
                <td>{{t.flightNum}}</td>
                <td>{{t.destination}}</td>
                <td>{{t.departureAirport}}</td>
                <td>{{t.departureTime}}</td>
                <td>{{t.departureDate}}</td>
                <td>{{t.arrivalAirport}}</td>
                <td>{{t.arrivalTime}}</td>
                <td>{{t.arrivalDate}}</td>
                <td>{{t.maxCapacity}}</td>
                <td>
                    <a href="#" [routerLink]="['/flight/fedit/',t.flightID]" class="btn btn-primary">Edit</a>
                    <button type="button" (click)="fs.deleteFlight(t.flightID)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

