<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-primary">
        <a href="#" class="navbar-brand"><span class="text-danger">Welcome to Last Minute Flights</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="#" routerLink="flight" class="nav-link active" aria-current="page">Flight List</a>
            </li>
            <li class="nav-item">
                <a href="#" routerLink="passenger" class="nav-link active" aria-current="page">Passenger List</a>
            </li>
            <li class="nav-item">
                <a href="#" routerLink="passenger" class="nav-link active" aria-current="page">Bookings</a>
            </li>
        </ul>
    </nav>
    <div class=" container-fluid">
        <div style="background-image: url('./assets/project1.jpg'); 
        background-size: cover;height: 600px; width: 1245px; margin-left: -15px; margin-right: -55px;">
        <h1 class="text-center">Get there now!!</h1>
        <router-outlet></router-outlet>  
        </div>
    </div>
</div>



