
<div class="container">
    <h1>Edit This Passenger!</h1>
    <a href="#" routerLink="/passenger/index" class="btn btn-info">Back</a>
    <form [formGroup]=' newPassengerForm' (ngSubmit)= 'submit()'>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" />
            <!-- <div *ngIf="nPF['firstName'].touched && nPF['firstName'].invalid" class="alert alert-danger">
                <div *ngIf="nPF['firstName'].errors nPF['firstName'].errors['required']">
                    First Name is required.
                </div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" />
            <!-- <div *ngIf="nPF['lastName'].touched && nPF['lastName'].invalid" class="alert alert-danger">
                <div *ngIf="nPF['lastName'].errors nPF['lastName'].errors['required']">
                    Last Name is required.
                </div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" />
            <!-- <div *ngIf="nPF['email'].touched && nPF['email'].invalid" class="alert alert-danger">
                <div *ngIf="nPF['email'].errors nPF['email'].errors['required']">
                    Email is required.
                </div>
            </div> -->
        <button type="submit" class="btn btn-success" [disabled] ="!newPassengerForm.valid">Submit</button>
    <!--</form>-->
</div>
